.group-container{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.total-card{
    width:200px;
    text-align:center;
}

.ads-card{
    height:200px;
    border:2px dashed #ccc;
}

.form{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:1rem;
margin-bottom:2rem;
}