<p-toast></p-toast>
<h2>Tickets</h2>

<button pButton label="Nuevo Ticket" (click)="abrirCreate()"></button>

<div class="lista">

  <div class="card" *ngFor="let t of tickets">

    <h3>{{t.titulo}}</h3>
    <p>{{t.descripcion}}</p>

    <p><b>Estado:</b> {{t.estado}}</p>
    <p><b>Prioridad:</b> {{t.prioridad}}</p>

    <button pButton label="Ver" (click)="verDetalle(t)"></button>

  </div>

</div>

<!-- ===================== -->
<!-- MODAL CREAR TICKET -->
<!-- ===================== -->
<p-dialog header="Crear Ticket"
          [(visible)]="mostrarCreate"
          [modal]="true"
          [style]="{width:'400px'}">

<form #formTicket="ngForm">

  <div class="form">

    <div class="form-group">
      <label>Título *</label>
      <input pInputText 
             name="titulo"
             [(ngModel)]="nuevoTicket.titulo"
             required
             #titulo="ngModel">

      <small *ngIf="titulo.touched && !esTextoValido(nuevoTicket.titulo)">
        No puede estar vacío o solo espacios
        </small>
    </div>

    <div class="form-group">
      <label>Descripción *</label>
      <textarea 
        name="descripcion"
        [(ngModel)]="nuevoTicket.descripcion"
        required
        #descripcion="ngModel">
      </textarea>

    <small *ngIf="descripcion.touched && !esTextoValido(nuevoTicket.descripcion)">
    No puede estar vacía o solo espacios
    </small>
    </div>

    <div class="form-group">
      <label>Estado *</label>
      <select 
        name="estado"
        [(ngModel)]="nuevoTicket.estado"
        required
        #estado="ngModel">

        <option value="" disabled>Selecciona estado</option>
        <option *ngFor="let e of estados" [value]="e">{{e}}</option>
      </select>

      <small *ngIf="estado.invalid && estado.touched">
        Selecciona un estado
      </small>
    </div>

    <div class="form-group">
      <label>Asignado a</label>
      <input pInputText 
             name="asignadoA"
             [(ngModel)]="nuevoTicket.asignadoA">

        <small *ngIf="nuevoTicket.asignadoA && !esTextoValido(nuevoTicket.asignadoA)">
        No puede contener solo espacios
        </small>
    </div>

    <div class="form-group">
      <label>Prioridad *</label>
      <select 
        name="prioridad"
        [(ngModel)]="nuevoTicket.prioridad"
        required
        #prioridad="ngModel">

        <option value="" disabled>Selecciona prioridad</option>
        <option *ngFor="let p of prioridades" [value]="p">{{p}}</option>
      </select>

      <small *ngIf="prioridad.invalid && prioridad.touched">
        Selecciona una prioridad
      </small>
    </div>

    <div class="form-group">
      <label>Fecha límite *</label>
      <input type="date"
             name="fechaLimite"
             [(ngModel)]="nuevoTicket.fechaLimite"
             required
             #fecha="ngModel">

      <small *ngIf="fecha.invalid && fecha.touched">
        La fecha límite es obligatoria
      </small>
    </div>

  </div><!-- fin formulario -->

</form>

  <ng-template pTemplate="footer">
    <button pButton 
            label="Guardar"
            [disabled]="formTicket.invalid"
            (click)="crearTicket(formTicket)">
    </button>
  </ng-template>

</p-dialog>

<!-- ===================== -->
<!-- MODAL DETALLE -->
<!-- ===================== -->
<p-dialog header="Detalle"
          [(visible)]="mostrarDetail"
          [modal]="true"
          [style]="{width:'500px'}">

  <div *ngIf="ticketSeleccionado">

    <h3>{{ticketSeleccionado.titulo}}</h3>
    <p>{{ticketSeleccionado.descripcion}}</p>

    <p><b>Estado:</b> {{ticketSeleccionado.estado}}</p>
    <p><b>Prioridad:</b> {{ticketSeleccionado.prioridad}}</p>
    <p><b>Asignado:</b> {{ticketSeleccionado.asignadoA}}</p>

    <p><b>Fecha creación:</b> {{ticketSeleccionado.fechaCreacion | date:'dd/MM/yyyy HH:mm'}}</p>
    <p><b>Fecha límite:</b> {{ticketSeleccionado.fechaLimite}}</p>

  </div>

</p-dialog>
