<div class="sidebar">

    <div class="project">
        <h2>Mi Proyecto</h2>
    </div>

    <div class="menu">

        <button pButton label="Landing" 
        routerLink="/">
        </button>

        <button pButton label="Register"
        routerLink="/register"
        class="p-button-secondary">
        </button>

        <button pButton label="Login"
        routerLink="/login"
        class="p-button-secondary">
        </button>

        <button pButton label="Dashboard"
        routerLink="/home"
        class="p-button-secondary">
        </button>

        <button pButton label="User"
        routerLink="/home/user"
        class="p-button-secondary">
        </button>

        <button pButton label="Group"
        routerLink="/home/group"
        class="p-button-secondary">
        </button>

    </div>

    <div class="version">
        v1.45
    </div>

</div>